div{
    border: 3px solid orange;
    text-align: center;
    padding: 12px;
    margin: 5px;
    float: left;

    
    
}
.container {
  width: 299px;
  margin: 20px auto;
  text-align: left;
  font-family: Arial, sans-serif;
}

.done {
  text-decoration: line-through;
  color: gray;
}

input[type="text"] {
  width: 70%;
  padding: 5px;
}

button {
  margin-left: 5px;
}
